*{
    font-size: x-large;
    text-align: center;
}

a{
    font-size: 1.5em;
}

h1, h2{
    font-size: 300%;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    font-size: 200%;
}

html{
    height: 100%;
    background: url(images/ingredient-wallpaper.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.horizontal-center{
    margin: 0px auto;
}

.all-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer-div{
    background-color: whitesmoke;
    width: 95%;
    height: 90%;
    overflow:auto;
}

.container-div{
    height: auto;
    width: auto;
    padding: 10px;
    font-size: medium;
    background-color:hsl(180, 50%, 70%);
}

.grouped{
    display: flex;
    padding: 10px;
}

.index{
    width: 300px;
}

.rounded-corners{
    border-radius: 25px;
}

.left-rounded{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.right-rounded{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.recipe-image{
    width: 15vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ingredients{
    background-color: hsl(0, 100%, 75%);
    width: 50vw;
}   

.description{
    background-color: rgb(221, 150, 99);
}

ul{
    list-style-type: none;
    li:before{ content: '> '};
}
li{
    text-align: left;
    padding-top: 10px;
}