html{
    height: 100%;
    margin: 0;
    background: url(images/ingredient-wallpaper.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.horizontal-center{
    margin: 0px auto;
}

.all-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer-div{
    text-align: center;
    background-color: whitesmoke;
    width: 95%;
    height: 90%;
    overflow:auto;
    vertical-align: middle;
    border-radius: 25px;
    background-color: aliceblue;
}

#index-div{
    height: auto;
    width: 20%;
    padding: 20px;
    background-color:hsl(180, 50%, 70%);
    border-radius: 25px;
}

.recipe-image{
    width: 20vw;
    height: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;

}

a{
    font-size: x-large;
}
h1, h2{
    text-align: center;
}

ul{
    list-style-type: none;
    li:before{ content: '> '; font-size: x-large};
}
li{
    text-align: left;
}